#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 50%;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
}



body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Schibsted Grotesk";
}

#icon-section {
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    scroll-behavior: smooth;
    scroll-margin-block: ;
    position: fixed;
    z-index: 1;
    width: 280px;
    height: 100%;
    background-color: #fff;
    border-right: #E7E7E8 1px solid;


}


#ic {
    font-size: 23px;
    text-align: center;
    color: #0f1419;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    padding-bottom: 7px;
    padding-top: 7px;

}



.the-icon {

    padding-bottom: 10px;
    padding-right: 20px;
    height: 50px;
    font-size: 19px;
    font-weight: 300;
    text-align: center;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    display: block;
    margin-left: 20px;
}
.the-icon:hover {
    background-color: #E7E7E8;


}
.Verify-b {
    width: 25px;
    border-radius: 30px;
    background: none;
}
#note-emo {
    width: 50px;
}
.Verify-b:hover {
    background-color: #E7E7E8;

}

#p-icon {
    padding: 10px;
}



.the-icon:hover {
    background-color: #E7E7E8;


}


button span {
    font-size: 20px;
    padding-left: 15px;
}

.home {
    font-weight: bold;
}

.profile-pic {
    width: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

.profile-pic:hover {
    background-color: #E7E7E8;
}

.fa-brands {
    color: #1d9bf0;
}

/*twitter blue**/
.the-icon #fa-brands {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#tweet-home {
    font-size: 25px;
    padding-left: 30px;
    padding-top: 15px;
}



#first-tweet {

    font-size: 18px;

    border-radius: 50px;
    margin-top: -20px;
    width: 215px;
    height: 50px;
    margin-left: 15px;
    font-weight: 700;
    background-color: #1A8CD8;
}

hr {
    font-size: 1px;
    color: #536471;


}

#name-below {
    margin-right: 20px;
    line-height: 0.5;
    font-size: 14px;
}

#bot:hover {
    background-color: #E7E7E7;
    border-radius: 40px;
    height: fit-content;
    width: fit-content;

}

#bot {
    line-height: normal;
    text-align: center;
    font-size: 14px;
    margin-top: ;
    padding-left: 20px;
    padding-top: 10px;
    cursor: pointer;

}

.name {
    font-family: "TwitterChirp", "-apple-system", "BlinkMacSystemFont", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    left: 90px;
    padding-top: 5px;
    font-weight: bold;
    position: absolute;
    font-size: 14px;
}

.username {


    margin-right: 20px;
    padding-top: 30px;
    color: #536471;
    opacity: #0f1419;


}

#before-elip i:hover {
    background: none;
}



/**Second Section**/
#second-section {
    margin-left: 290px;
   
    padding: 0;
    border-right: #E7E7E8 1px solid;
  
    

}

.top-home {
    font-size: 22px;
    color: #0f1419;
    margin: 15px 5px 15px 5px;
    cursor: pointer;
    font-weight: 700;
}

.two-headings {
    font-size: 18px;
    cursor: pointer;
    text-align: center;

    padding-top: 13px;
    color: #536471;
}

#for-you:hover {
    background-color: #E7E7E8;
}


#following:hover {
    background-color: #E7E7E8;
}

#blue-un {
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-color: #1D9BF0;
    text-decoration-thickness: 3px;
    text-underline-offset: 17px;
    font-weight: bold;
    color: #0f1419;

}

#for-you {
    height: 50px;
    width: 100%;
    padding: 0;
    font-weight: bold;
}

#following {
    height: 50px;
    width: 100%;
    padding: 0;
}

.two-headings:hover {
    color: #0f1419;

}



#tweet {
    display: block;
    color: #536471;
    margin-left: 20px;

    font-size: 22px;

}

.input-text {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 15px;
}

input:focus {
    outline: none;
}

.search-icons {
    margin-left: 70px;

    color: #1D9BF0;
    font-size: 18px;
}

.search-icons i {

    border-radius: 30px;
    width: 40px;
    height: 40px;
    padding-top: 8px;
    line-height: 1.5;
    text-align: center;
}
.search-icons span {
    margin-left: -5px;
}



.search-icons i:hover {
    background-color: #E9F5FD;
}

#dot {
    color: #8ECDF7;
}

#dot:hover {
    background-color: white;

}



#top-tweet {

    width: 90px;
    border-radius: 50px;
    font-weight: 700;

    margin-bottom: 10px;
   
    color: #fff;
    background-color: #8ECDF7;
}

.fix {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 620px;
    right: 363px;
    background-color: #fff;
    opacity: 98%;
    padding: 0;
   
}

#for-fol {
    border-bottom: #E7E7E8 1px solid;
    border-right: #E7E7E8 1px solid;
    background-color: #fff;
}



#whole-search {
    padding-top: 120px;
    margin-left: 2px;
    cursor: pointer;

}

hr {
    overflow: hidden;
}



.carrying-all {

    width: 100%;
    
}

.show-tweet p {
    font-family: "TwitterChirp", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", Arial, sans-serif;
    text-align: center;
    color: #1d9bf0;
    font-size: 17px;
font-weight: 500;
    line-height: normal;

}

.show-tweet {
    background-color: #fff;
    padding: 10px;
    border-top: #E7E7E8 1px solid;
    border-bottom: #E7E7E8 1px solid;
    box-sizing: border-box;
    height: 45px;
    margin: auto;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    display: none;

}



.dropdown-menu {
    border-radius: 20px;
    height: 200px;
    width: 270px;
    font-size: 18px;
    box-shadow: #E7E7E8 20px;


}

#second {
    line-height: 0.8
}



#mark {
    text-align: left;
    color: #1D9BF0;
    margin-left: 100px;
}

.dropdown-item .fa-solid {
    color: #fff;
}

#map {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1A8CD8;
    line-height: 2.2;
    padding-left: 11px;

}

#circle {
    background-color: green;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 2.2;
    padding-left: 9px;



}

.edit-link {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    text-decoration: underline;
    background-color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;

}

.edit-link:hover {
    background-color: #ccc;
}

#the-drop .btn {
    color: #1D9BF0;
    letter-spacing: normal;
    line-height: 0.4;
    font-size: 13px;
    text-align: center;
    border: #536471 1px solid;
    height: 20px;


    border-radius: 50px;
    font-weight: 700;
}

#the-drop {



    background-color: #fff;
}

#the-drop .btn:hover {
    border: #1A8CD8 1px solid;
    background-color: #E8F5FD;
}

h1.dropdown-item {
    font-size: 22px;
    font-weight: 700;
}

h1.dropdown-item:hover {
    background: none;
}

a.dropdown-item {
    padding-left: 20px;

}

#topper {
    padding-top: 10px;


}

#second {
    padding-top: 15px;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

a.dropdown-item:hover {
    overflow-x: hidden;
}

a span {
    margin-left: 10px;

}

a p {
    margin-left: 10px;
    line-height: 2.5;

}

.left-part {
    display: inline;
}

.show-tweet {
    background-color: #fff;
}

.show-tweet:hover {
    background-color: #f7f7f7;
}

#the-hb {
    padding-top: 15px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: #fff;
    border-top: #E7E7E8 1px solid;
}

#halal-username {

    margin-left: 20px;
    line-height: 0.8;
    cursor: pointer;
    padding-right: 0;
    padding-top: 10px;

}

.top-pic {
    width: 55px;
    border-radius: 60%;

}

.top-pic:hover {
    background-color: #E7E7E8;
}

#halal-username span {

    color: #536471;

}

#time:hover {
    text-decoration: underline;

}

#halal-username b:hover {
    text-decoration-line: underline;
}

#ellipsis {
    color: #536471;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    text-align: center;
    line-height: 2;
    margin-right: 10px;

}

#ellipsis:hover {
    background-color: #e1eef6;
    color: #1d9bf0;


}

/***second dropdown***/


#cons .fa-solid {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1A8CD8;
    line-height: 2.2;
    padding-left: 11px;
}

#second-drop .dropdown-menu {
    border-radius: 20px;
    height: 310px;
    width: 350px;
    font-size: 18px;
    shadow: #E7E7E8 20px;


}

#second-drop {
    display: none;
    z-index: 10;
    transition-delay: 250ms;
}


#cons p {
    color: #536471;
    font-size: 16px;
}

#cons p:hover {
    background: none;

}

#cons a {
    height: 70px;
    padding-top: 15px;

}

#below-drop {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#mark.fa-solid {
    background: none;
}

#second-drop .btn {
    color: #1D9BF0;
    letter-spacing: normal;

    font-size: 14;
    text-align: center;
    padding-right: 5px;



    border-radius: 50px;
    font-weight: 700;
}

#second-drop .btn:focus {
    border: none;

}

#second-drop .btn:hover {
    background-color: #E8F5FD;
}

#cons {
    font-size: 15px;
    line-height: 0.2;
}

#cons h3 {
    font-size: 16px;
    font-weight: 700;
}

#cons h3:hover {
    background: none;
}


.dropdown {
    display: none;
}

.screenshot {
    width: 270px;
    height: 310px;

}

#thread-pic {
    width: 540px;

}

.main-thread {
    margin-top: 0;
    padding-top: 0;
    margin-left: 40px;
    padding-left: 40px;
    border-left: #E7E7E8 3px solid;
}

#first-pict img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left: #E7E7E8 1px solid;
    border-top: #E7E7E8 1px solid;
    border-bottom: #E7E7E8 1px solid;
    margin: 0;
    padding: 0;
}

#second-pict img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: #E7E7E8 1px solid;
    border-top: #E7E7E8 1px solid;
    border-bottom: #E7E7E8 1px solid;
    margin: 0;
    padding: 0;
}

.comment-icons {
    margin-top: 5px;
    font-size: 16px;
    color: #536471;
    text-align: start;
    line-height: 16px;
    font-family: "Schibsted Grotesk";
}

.comment-icons i {
    padding-top: 4;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    text-align: center;
    line-height: 2.5;

    font-size: 15px;
    cursor: pointer;

}


i .fa-solid {
    font-size: 17px;
}

i .fa-regular {
    font-size: 17px;
}

.comment-icons span {
    margin-left: 5px;
    font-weight: 400;
    font-family: "TwitterChirp", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", Arial, sans-serif;
}

i#like-46 {
    margin-left: 0;
}

#the-hb p {
    color: #0f1419;
}

#the-hb:hover {
    background-color: #f7f7f7;


}

#comment-section {
    margin-left: 25px;
    cursor: pointer;

}


#reply:hover {
    color: #2aa1f1;
    background-color: #e1eef6;

}

#retweet:hover {
    background-color: #def1eb;
    color: #16bf87;

}

#like:hover {
    background-color: #f7e0eb;
    color: #f796e3;
}

#view:hover {
    background-color: #e1eef6;
    color: #67baf2;
}

.c-reply:hover {
    color: #2aa1f1;
}

.c-retweet:hover {
    color: #16bf87;
}

.c-like:hover {
    color: #f796e3;
}

.c-view:hover {
    color: #67baf2;
}


.halal-bottom {
    width: 35px;
    height: 40px;
    border-radius: 100%;
    padding-top: 5px;
    margin-right: 6px;
}

.thread {
    font-weight: 500;
    font-size: 16px;
    color: #2aa1f1;

}

#show-this {
    color: #2aa1f1;
    text-align: left;
    cursor: pointer;
    margin-right: 35px;
    padding-top: 10px;
}

#thread-end:hover {
    background-color: #efefef;
}

#thread-end {
    margin-left: 1px;
    padding-bottom: 5px;
    width: 100%;
}

/**Second tweet**/
#second-tweet {
    border-top: #E7E7E8 1px solid;
    padding-top: 10px;
    padding-left: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

#second-tweet:hover {
    background-color: #f7f7f7;
}

#second-ellip {
    margin-right: 10px;
}

#yaba-tweet {
    z-index: 1;
    width: 100%;
}

.hakimi-pic {
    height: 400px;
    width: 530px;
    border-radius: 20px;
    margin-left: 65px;
    padding-right: 0;
}

#second-comment {
    margin-left: 65px;
}

/**video**/
.thread-vid {
    border-radius: 20px;
    margin-left: 70px;
    border: #E7E7E8 1px solid;
}


#third-tweet {
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 10px;
    border-top: #E7E7E8 1px solid;
    margin-right: 1px;

}

#third-tweet:hover {
    background-color: #f7f7f7;
}






/**the tooltip**/

.tooltip {
    position: absolute;


}

#tweet-halal .tooltiptext {
    visibility: hidden;
    width: 335px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;
    padding: 10px;
    font-family: "Schibsted Grotesk";

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 25%;
    margin-left: -60px;

}

#tweet-halal:hover .tooltiptext {
    visibility: visible;
    transition-delay: 500ms;
}

.tool1 .tool {
    text-align: right;
    border: 1px solid;
    height: 35px;
    text-align: center;
    width: 110px;
    border-radius: 20px;
    padding-bottom: 8px;
    margin-left: 140px;
    position: absolute;
    right: 15px;
    top: 20px;
    visibility: hidden;
    background-color: #FEE1E3;
    color: #F4212E;
    font-weight: bold;
}

.tool1:hover .tool {
    visibility: visible;
    transition-delay: 100ms;
}


#tool-btn {

    border: 1px solid;
    height: 35px;
    text-align: center;
    width: 110px;
    border-radius: 20px;
    padding-bottom: 8px;
    margin-left: 140px;
    font-weight: 600;

}




.tool-name {
    font-size: 19px;
    margin-top: 10px;
    color: #0f1419;
    font-weight: bold;
}

.tool-name:hover {
    text-decoration: underline;
}

.name-prt .just-h {
    margin-top: -10px;
    color: #DADEE0;
    font-size: 16px;
}

.bio-info {
    font-size: 16px;
    color: #1B2025;
}

#mid p {
    font-size: 15px;

}

#mid span {
    color: #8E99A2;

}

#mid p:hover {
    text-decoration: underline;
}

#three-imgs img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    position: absolute;
    top: 265px;
}

.first-img {
    left: 10px;
}

.second-img {
    left: 15px;

}

.third-img {
    left: 20px;
}

.footer {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 20px;
    color: #8E99A2;

}

.footer:hover {
    text-decoration: underline;
}


/**second**/
#tweet-halal2 .tooltiptext {
    visibility: hidden;
    width: 335px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;
    padding: 10px;
    font-family: "Schibsted Grotesk";

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 885px;
    left: 25%;
    margin-left: -60px;

}

/**comment icons**/
.more-tab {
    display: none;
}

#tweet-halal2:hover .tooltiptext {
    visibility: visible;
    transition-delay: 500ms;
}

#se2 {
    text-align: left;
    margin-right: 25px;
}

.more-tab {
    width: 345px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;

    font-family: "Schibsted Grotesk";

    /* Position the tooltip */

    z-index: 1;

    position: absolute;
    right: 350px;
    top: 310px;

}

#second-more {
    top: 820px;
}

.more-tab button {
    border: none;
    background-color: #fff;
    display: block;
    justify-content: start;
    width: 100%;
    height: 45px;


}

.more-tab button:hover {
    background-color: #E7E7E8;


}


button .mt {
    font-size: 16px;
    font-weight: 600;

}

#mt {
    text-align: left;
    padding: 0;
    padding-left: 20px;
}

#slash {
    border: #0f1419 1px solid;
    border-radius: 100%;
    width: fit-content;
    height: 20px;
}

.mt-first {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mt-last {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/**third-section**/
.fix-2 {
    position: fixed;
    width: 310px;
    height: 45px;
    border-radius: 50px;
    background-color: #EFF3F4;
    /*top: 10px;
    right: 13px;*/
    overscroll-behavior-y: contain;
}
.cont {
    position: fixed;
    width: 330px;
   height: 60px;
   
   background-color: #fff;
  
}
#sh-top {
    background-color: #fff;
 
 
}

.fix-2 input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background: none;
    padding-top: 10px;

}

.fix-2 span {
    color: #5F6F7B;
    margin-left: 15px;
}

.trend {


    width: 310px;
  

    margin-bottom: 20px;
}

.trend #trend-section {
    padding: 13px;
    padding-bottom: 0;
}

.all-part {
    margin-top: 75px;
    border-radius: 20px;
    background-color: #F7F9F9;
   margin-left: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 310px;
   
}

#normal-tt .trend {
    width: 290px;
    margin-left: 11px;
}

#all-part2 {
    margin-top: -5px;
}

#trend-ellip {
    margin-right: 10px;
}

.trend h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

#trend-section p {
    font-size: 13px;
    color: #536471;
    line-height: 16px;
    text-align: start;
}

#trend-section h4 {
    font-size: 16px;
    line-height: 20px;
    color: #0f1419;
    word-spacing: normal;
    font-weight: bold;
    margin-top: -13px;
    margin-bottom: -1px;

}

/**blue-tck**/
#blue-tick {
    width: 17px;
    color: #1D9BF0;
    background: inherit;
    border-radius: 20px;
}



.fabri:hover {
    text-decoration: underline;
}

#trend-section:hover {
    background-color: #EFF1F1;
}

#trend-section {
    padding-top: 10px;

}

#normal-tt {
    margin-top: -1px;
    margin-bottom: 30px;
}

.show-this:hover {
    background-color: #EFF1F1;
}

.show-this {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 15px;
    padding-left: 13px;
    margin-top: -30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#show-this2 {
    margin-top: -20px;
}

.fabri {
    font-size: 15px;
    font-weight: bold;
}

#second-col {
    margin-right: 30px;
    padding: 0;
    text-align: left;
}

#fabri-pic {
    padding: 0;
}

#follow {
    padding: 0;
    margin-right: 40px;
}

#tweet-halal3 .tooltiptext {
    visibility: hidden;
    width: 305px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;
    padding: 10px;
    font-family: "Schibsted Grotesk";

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 245%;
    left: 70%;
    margin-left: -60px;
    padding: 10px;

}


#tweet-halal3:hover .tooltiptext {
    visibility: visible;
    transition-delay: 500ms;
}

#tweet-halal4 .tooltiptext {
    visibility: hidden;
    width: 305px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;
    padding: 10px;
    font-family: "Schibsted Grotesk";

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 253%;
    left: 70%;
    margin-left: -60px;

}

#tweet-halal4:hover .tooltiptext {
    visibility: visible;
    transition-delay: 500ms;
}

#tweet-halal5 .tooltiptext {
    visibility: hidden;
    width: 305px;
    background-color: #ffff;
    box-shadow: 5px #fff;
    border: #E7E7E8 0.8px solid;
    border-radius: 15px;
    padding: 10px;
    font-family: "Schibsted Grotesk";

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 250%;
    left: 55%;
    margin-left: -60px;

}

#tweet-halal5:hover .tooltiptext {
    visibility: visible;
    transition-delay: 500ms;
}

#second-wtk {
    padding-top: 10px;
    margin-top: -30px;
    margin-left: 2px;
    margin-right: 2px;
}

#third-wtk {
    padding: 5px;
    padding-top: 18px;
    height: fit-content;
    margin-left: 1px;
    margin-right: 1px;
}

#follow {
    background-color: #1B2025;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 30px;
    width: 70px;
    height: 30px;
    float: right;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 0;

}

#follow:hover {
    background-color: #536471;
}

#third-c {
    padding: 0;
    justify-content: right;
    margin-left: 10px;
    margin-top: 10px;
}


.tool-name {
    margin-bottom: -10px;
}

.NORWAY {
    width: 14px;

}

.promoted {
    margin-top: -15px;
    font-size: 14px;
    color: #99A4AB;
}

.usn {
    color: #8E99A1;
    margin-top: -5px;
}

#akram {
    border-radius: 3px;
}

.bio-info span {
    color: #1D9BF0;
}

#tool-btnk {
    width: 82px;
    background-color: #0f1419;
    border: 1px solid;
    height: 35px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    padding-bottom: 8px;

    margin-left: 140px;
}

#wkt:hover {
    background-color: #EFF1F1;

}

#wkt {
    padding: 10px;
}

#third-wtk:hover {
    background-color: #EFF1F1;

}

#second-wtk:hover {
    background-color: #EFF1F1;

}

.col-auto {
    font-size: 13px;
    color: #677682;
    letter-spacing: normal;
    text-align: start;
    padding: 0;
    margin-right: 8px;
}

.col-auto:hover {
    text-decoration: underline;
}

#sm-1 {
    padding: 0 0px 10px 0px;
    position: absolute;

    margin-left: 30px;

}

#sm-2 {
    padding: 0 0px 10px 0px;
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

/**mmessGE**/
.stick {
    position: fixed;
    background-color: #fff;

    padding: 10px;
    top: 575px;
    width: 325px;
   right: 20px;
    border: #E7E7E8 0.8px solid;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
}
#trans {
    transform: rotateX(180deg);
}
#two-icons {
    margin-left: 50px;
}

#one-ic {

    height: 40px;
    width: 40px;
background: none;
    line-height: 2;
    padding-left: 0;
   
    text-align: left;
    border-radius: 50px;
    border: none;
}

#one-ic:hover {
    background-color: #E7E7E8;
}
.inner {
    background-color: #fff;
    z-index: 0;
}
/**space section**/
.space-img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding-top: 0;
}

.space-img2 {
    width: 20px;
    height: 20px;
    padding-top: 0;
}

.space-h3 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 0;

    padding-left: 13px;
    padding-top: 25px;
}

#jsp b {
    color: #0f1419;
}

#jsp {
    padding-top: 4px;
}

#space-pic {
    height: 30px;
    width: 30px;
    border-radius: 60px;
  
    margin-left: -10px;
    border: #fff 1px solid;
}




#space-pic:first-child {
    /*margin-left: -40px;*/
}
#space-pic:nth-child(2) {
   /* right: 65px;*/
   margin-left: -20px;
}

#space-pic:nth-child(3) {
   /* right: 50px;*/
   margin-left: -20px;
}

#space-pic3 {
    height: 30px;
    width: 30px;
    border-radius: 60px;
    margin-left: -15px;
    border: #fff 1px solid;
}

#space-pic3:first-child {
    border-radius: 0;
    /*margin-left: -38px;*/
}



#third-button {
    border-radius: 0;
   padding-top: 0.6;
}


.nop {
    /*margin-left: 45px;*/
padding-left: 0;
    font-size: 14px;
    font-weight: bold;

}

.col-4 .btn {
    box-shadow:
        #E4E3F2 1px 1px 1px 1px,
        #E4E3F2 1px 1px 1px 1px,
        #E4E3F2 1px 1px 1px 1px,
        #E4E3F2 1px 1px 1px 1px;

    border: #7856FF 2px solid;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    height: 35px;
    width: 105px;
    margin-right: 10px;
    padding: 0;
    border-radius: 30px;
}

@keyframes example {
    0% {
        box-shadow: #D1CBF4 0.5px 0.5px 0.5px 0.5px;
    }

    25% {
        box-shadow: #C3B9F6 0.8px 0.8px 0.8px 0.8px;
    }

    50% {
        box-shadow: #D4CCF4 1.1px 1.1px 1.1px 1.1px;
    }

    75% {
        box-shadow: #C3B9F6 1.4px 1.4px 1.4px 1.4px;
    }

    100% {
        box-shadow: #E6E6F2 2px 2px 2px 2px;
    }
}

#sp-title h4 {
    margin-top: -6px;
    font-size: 15px;
    line-height: 1.5;
    padding-right: 0;
}

.tend {
    padding-bottom: 10px;
    padding: 13px;
}

#n0-g {
    width: 100%;
}

/**message**/
.msg {
    position: absolute;
    z-index: 1;
    width: 325px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 20px;
    font-weight: 600;
    height: 400px;
    bottom: 30%;
right: 0px;
display: none;
    box-shadow: #EFF1F3 3px, 3px;
    border: #E7E7E8 0.8px solid;


}



.msg::-webkit-scrollbar {

    width: 15px;
}

.msg::-webkit-scrollbar-track {
    background: #f1f1f1;


}

/* Handle */
.msg::-webkit-scrollbar-thumb {
    background: #888;


}

::-webkit-scrollbar-button:single-button {
    background-color: #f1f1f1;
    display: block;
    border-top-right-radius: 20px;

    height: 15px;
    width: 14px;
}

/* Handle on hover */
.msg::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-left: solid 1px white;

}

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0;
    border-color: #555555 transparent transparent transparent;

}

.msg::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;

}

#carrier {
    padding: 10px 10px 15px 20px;
}

.inner {
    background-color: #fff;
    opacity: 100%;
    position: fixed;
    padding-right: 0;
    width: 308px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
    border-bottom: #E7E7E8 0px solid;
    padding-left: 0;
}

.msg-all {
    margin-top: 80px;
    margin-bottom: 70px;
}

#snippet {
    margin-top: 20px;
    padding-left: 10px;
    height: 70px;
    padding-top: 10px;

}

#kuda {
    margin-top: -3px;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 5px;
}

#msgth b {
    font-size: 14px;
    font-weight: 700;
    color: #0f1419;
}



#msgth {
    color: #C2C9CD;
    font-size: 13px;
    font-weight: 400;
    line-height: 0.5;
    padding: 0;
    padding-left: 15px;
    padding-top: 10px;
}

#snippet .ttt {
    visibility: visible;
    position: relative;
   
}

#snippet:hover .ttt {
    visibility: hidden;
    display: none;
   
}

#snippet .tth {
    visibility: hidden;
    position: relative;
    display: none;
}

#snippet:hover .tth {
    visibility: visible;
  
}

#snippet #ellip-hidden {
    visibility: hidden;
    position: relative;
    display: none;
}

#snippet:hover #ellip-hidden {
    visibility: visible;
    display: grid;
}

#snippet {
    padding-top: 5px;
    margin: 0;
    padding-left: 0;
}

#snippet:hover {
    background-color: #F7F9F9;

}

/**display none**/
#leaf {
    display: none;
}

#pic2 {
    display: none;
}

#dont-display {
    display: none;
}
#tweet-leaf {
    display: none;
}
#prof {
    display: none;
}
#top-2 {
    display: none;
}

/**Media Query**/
/**@media (max-width: 768px)**/

/*@media screen and (max-width: 575px) and (min-width: 500px) {
#icon-section {
    width: 120px;
}
.fix {
    width: 75%;
    left: 120px;
}
#second-section {
    width: 65%;
    left: 130px;
}
}*/

@media screen and (max-width: 500px) {
    #icon-section {
        
       display: none;
    }
    #top-2 {
        display: block;
       margin: 10px;
        background-color: #fff;
    }
    #second-section {
      width: 100%; 
     margin: 0;
     font-size: 13px;
     font-weight: 400;
    
     }
     /*.tweets-section {
        margin-top: 10%;
     }*/
     #the-hb {
        padding-left: 5%;
        padding-right: 5%;
     }
     .stick {
        display: none;
    }
     #second-tweet {
        padding-left: 5%;
        padding-right: 5%;
     }
     .tooltiptext {
        display: none;
     }
     .top-home {
        display: none;
     }
     .two-headings {
        font-size: 90%;
        padding-top: 10px;
     }
     .fix {
      width: 100%;
     
      margin-right: -77%;
    font-size: 15px;
      
            }
            .top-pic {
                width: 35px;
            }
            .c-view {
                display: none;
            }       
           
        #whole-search {
          display: none;
        }
            
        .mob-dis {
            display: block;
        } 
    .thread {
        font-size: 13px;
    } 
    .halal-bottom {
        width: 25px;
        height: 27px;
    } 
    #show-this {
        margin-left: -77%;
    } 
    .show-tweet {
      
        margin-top: 20%;
    } 
#thread-end {
    padding-left: 0;
}
    .main-thread {
        margin-top: -10px;
        padding-top: 0;
        margin-left: 10px;
        padding-left: 20px;
        border-left: #E7E7E8 3px solid;
    }

    .screenshot {
        width: 250px;
    } 
    #comment-section {
        margin-left: 30px;
       } 
    .comment-icons {
        font-size: 14px;
    }
       #blue-un {
        
        
        text-underline-offset: 13px;
        
    
    }
    
    #for-you {
        height: 40px;
     
        padding: 2px;
        font-weight: bold;
    }
    
    #following {
        height: 40px;
       
        padding: 2px;
    }  
    
    .hakimi-pic {
        height: 400px;
       width: 530px;
        border-radius: 20px;
        margin-left: 35px;
        padding-right: 0;
    }
    
    #second-comment {
        margin-left: 65px;
    }  
    #sh-top {
        display: none;
    }
   
}

@media screen and (max-width: 600px) and (min-width: 500px) {
    #icon-section {
        width: 80px;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .stick {
        display: none;
    }
    .the-icon .text {
        top: 10%;
        left: 45%;
    }
    #explore {
        top: 26%;
        left: 45%;
    }

    #note {
        top: 34%;
        left: 27%;
    }

    #messages {
        top: 41%;
        left: 40%;
    }

    #veri {
        top: 49%;
        left: 46%;
    }

    #pro {
        top: 57%;
        left: 48%;
    }

    #more {
        top: 65%;
        left: 53%;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
        /*margin-left: 60%;*/
        margin-left: 0;
    }
    
    .fix {
        left: 80px;
        width: 75%;
        border-right: #E7E7E8 1px solid;
            }
            #second-section {
               margin-left: 80px;
                width: 76%;
                font-size: 14px;
            }
            #dont-show {
                display: none;
            }
            .top-pic {
                width: 35px;
            }
            
            i .fa-solid {
                font-size: 14px;
            }
            
            i .fa-regular {
                font-size: 14px;
            }  
           #comment-section {
            margin-left: 2px;
           }
           #show-this {
            color: #2aa1f1;
            text-align: left;
            cursor: pointer;
            margin-left: -70%;
            padding-left: 0;
            padding-top: 10px;
           
        }   
        .screenshot {
            width: 200px;
        } 
        
         
        #comment-section {
            margin-left: 5px;
           }
           #tweet-home {
           padding-left: 8%;
             
         }  
         #sh-top {
            display: none;
        }   
        .tool1 .tool {
        
            right: 35px;
            top: 10px;
            
        }  
        #tweet-halal .tooltiptext {
            top: 50%;
            left: 15%;
           
        }
        .more-tab {
        
            right: 20px;
            top: 290px;
        
        }   

        #tweet-halal2 .tooltiptext {
            top: 830px;
            left: 15%; 
            font-size: 13px;
           
        }  
       
}




@media screen and (max-width: 675px) and (min-width: 600px) {
    #icon-section {
        width: 100px;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .stick {
        display: none;
    }
    .the-icon .text {
        top: 10%;
        left: 45%;
    }
    #explore {
        top: 26%;
        left: 45%;
    }

    #note {
        top: 34%;
        left: 27%;
    }

    #messages {
        top: 41%;
        left: 40%;
    }

    #veri {
        top: 49%;
        left: 46%;
    }

    #pro {
        top: 57%;
        left: 48%;
    }

    #more {
        top: 65%;
        left: 53%;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
       
       
    }
    
    .fix {
        left: 100px;
        width: 79.1%;
        border-right: #E7E7E8 1px solid;
            }
            #second-section {
               margin-left: 100px;
                width: 80%;
                font-size: 14px;
            }
            #dont-show {
                display: none;
            }
            .top-pic {
                width: 35px;
            }
            
            i .fa-solid {
                font-size: 14px;
            }
            
            i .fa-regular {
                font-size: 14px;
            }  
           #comment-section {
            margin-left: 2px;
           }
           #show-this {
            color: #2aa1f1;
            text-align: left;
            cursor: pointer;
            margin-left: -73%;
            padding-left: 0;
            padding-top: 10px;
           
        }   
        .screenshot {
            width: 200px;
        } 
        
         #top-tweet {

            width: 70px;
            border-radius: 50px;
            font-weight: 700;
            font-size: 15px;
            margin-right: 30%;
            margin-bottom: 10px;
            color: #fff;
            background-color: #8ECDF7;
        }
        #comment-section {
            margin-left: 10px;
           }  
           #sh-top {
            display: none;
        }
       
        .tool1 .tool {
        
            right: 35px;
            top: 10px;
            
        }  
        #tweet-halal .tooltiptext {
            top: 50%;
            left: 15%;
           
        }
        .more-tab {
        
            right: 20px;
            top: 290px;
        
        }   

        #tweet-halal2 .tooltiptext {
            top: 830px;
            left: 15%; 
            font-size: 13px;
          
        }   
}

 /*
@media screen and (max-width: 675px) and (min-width: 600px) {
    #icon-section {
        width: 100px;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .the-icon .text {
        top: 10%;
        left: 45%;
    }
    #explore {
        top: 26%;
        left: 45%;
    }

    #note {
        top: 34%;
        left: 27%;
    }

    #messages {
        top: 41%;
        left: 40%;
    }

    #veri {
        top: 49%;
        left: 46%;
    }

    #pro {
        top: 57%;
        left: 48%;
    }

    #more {
        top: 65%;
        left: 53%;
    }
    .the-icon {
       
        width: 50px;
        border-radius: 100%;
       
        
    }
    
    .fix {
        left: 15.5%;
        width: 78.4%;
        border-right: #E7E7E8 1px solid;
            }
            #second-section {
               margin-left: 15%;
                width: 80%;
                font-size: 14px;
            }
            #dont-show {
                display: none;
            }
            .top-pic {
                width: 35px;
            }
            
            i .fa-solid {
                font-size: 14px;
            }
            
            i .fa-regular {
                font-size: 14px;
            }  
           #comment-section {
            margin-left: 2px;
           }
           #show-this {
            color: #2aa1f1;
            text-align: left;
            cursor: pointer;
            margin-left: -73%;
            padding-left: 0;
            padding-top: 10px;
           
        }   
        .screenshot {
            width: 200px;
        } 
        
         #top-tweet {

            width: 70px;
            border-radius: 50px;
            font-weight: 700;
            font-size: 15px;
            margin-right: 30%;
            margin-bottom: 10px;
            color: #fff;
            background-color: #8ECDF7;
        }
        #comment-section {
            margin-left: 10px;
           } 
}*/



@media screen and (max-width: 715px) and (min-width: 675px) {
    #icon-section {
        width: 15%;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .stick {
        display: none;
    }
    .fix {
left: 15%;
width: 538px;
border-right: #E7E7E8 1px solid;
    }
    #second-section {
       margin-left: 14%;
        width: 571.54px;
    }
    #dont-show {
        display: none;
    }
    .the-icon .text {
        top: 10%;
        left: 53%;
    }
    #explore {
        top: 26%;
        left: 45%;
    }

    #note {
        top: 34%;
        left: 27%;
    }

    #messages {
        top: 41%;
        left: 43%;
    }

    #veri {
        top: 49%;
        left: 46%;
    }

    #pro {
        top: 57%;
        left: 48%;
    }

    #more {
        top: 65%;
        left: 53%;
    }
    

    .the-icon {
        width: 50px;
        border-radius: 100%;
        padding-right: 50%;
        
    }

   

    .thread-vid {
        border-radius: 20px;
        margin-left: 70px;
        border: #E7E7E8 1px solid;
       
        width: 500px;
    }
    
    .main-thread {
        margin-top: 0;
        padding-top: 0;
        margin-left: 30px;
        padding-left: 30px;
        border-left: #E7E7E8 3px solid;
        font-size: 14px;
    }
    .halal-bottom {
        width: 35px;
        height: 40px;
        border-radius: 100%;
        padding-top: 5px;
        margin-right: 8px;
    }
    
    .thread {
       
        font-size: 14px;
       
    
    }
    
    #show-this {
        color: #2aa1f1;
        text-align: left;
        cursor: pointer;
        margin-left: -70%;
        padding-left: 0;
        padding-top: 10px;
       
    }
    .more-tab {
        
        right: 20px;
        top: 290px;
    
    }   
    #tweet-halal .tooltiptext {
        top: 52%;
    } 

    .top-pic {
        width: 35px;
    }
    #tweet-leaf {
        display: block;
       top: 78%;
       
    }
    #sh-top {
        display: none;
    }
    .tool1 .tool {
        
        right: 35px;
        top: 10px;
        
    }
    #tweet-halal2 .tooltiptext {
        top: 830px;
        left: 15%; 
        font-size: 13px;
      
    }   
}



@media screen and (max-width: 800px) and (min-width: 715px) {
    #second-section {
        width: 75%;
        margin-left: 120px;
        border-right: #E7E7E8 1px solid;
    }
    .fix {
        width: 74%;
        left: 120px;
        border-right: #E7E7E8 1px solid;
    }

    #icon-section {
        width: 120px;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .stick {
        display: none;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
        /*margin-left: 60%;*/
        
    }
    .the-icon .text {
        top: 8%;
        left: 43%;
    }
    #explore {
        top: 26%;
        left: 35%;
    }

    #note {
        top: 34%;
        left: 24%;
    }

    #messages {
        top: 41%;
        left: 33%;
    }

    #veri {
        top: 49%;
        left: 36%;
    }

    #pro {
        top: 57%;
        left: 38%;
    }

    #more {
        top: 65%;
        left: 43%;
    }
    
    #show-this {
        color: #2aa1f1;
        text-align: left;
        cursor: pointer;
        margin-left: -70%;
        padding-left: 0;
        padding-top: 10px;
       
    }
  
    
    .screenshot {
        width: 230px;
        height: 310px;
    
    }

    .top-pic {
        width: 40px;
    }
    #tweet-halal .tooltiptext {
        top: 53%;
        left: 10%;
    }
    #tweet-halal2 .tooltiptext {
        top: 850px;
        left: 10%; 
    }
    .more-tab {
        right: 5%;
        top: 45%;
        font-size: 14px;
      
    }
    #sh-top {
        display: none;
    }
    .tool1 .tool {
        
        right: 30px;
        top: 12px;
        
    }
}


/*laptop*/
@media screen and (max-width: 1290px) and (min-width: 1125px) {
    #icon-section {
        width: 18%;
        height: 100%;
      
        overflow: hidden;
        text-align: center;
       overflow-y: scroll;
    }
    .stick {
        display: inline;
       
    }
    #top-tweet {

        width: 80px;
        height: 38px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        margin-right: 30%;
        margin-bottom: 10px;
        color: #fff;
        background-color: #8ECDF7;
    }
    #tweet-halal .tooltiptext {
        top: 325px;
        left: 20%;
      
    } 
    #tweet-halal2 .tooltiptext {
        top: 840px;
        left: 10%; 
    }
    #second-section {
        width: 570px;
        margin-left: 18.5%;
        border-right: #E7E7E8 1px solid;
        border-left: #E7E7E8 1px solid;
    }
    .fix {
        width: 545px;
        left: 18.9%;
        border-right: #E7E7E8 1px solid;
        border-left: #E7E7E8 1px solid;
        font-size: 15px;
    }
    .top-pic {
        width: 40px;
      
    }
    .all-part {
       
       margin-left: 10px;
       
       
    }
    #prof {
        margin-left: 60%;
        padding-left: 0;
        padding-right: 0;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
  
  margin-left: 65%;
  
        
    }
    .the-icon .text {
      
        left: 68%;
    }
    #explore {
        top: 25%;
        left: 66%;
    }

    #note {
        top: 34%;
        left: 60%;
    }

    #messages {
        top: 41%;
        left: 63%;
    }

    #veri {
        top: 49%;
        left: 65%;
    }

    #pro {
        top: 59%;
        left: 67%;
    }

    #more {
        top: 68%;
        left: 68%;
    }
    
    .hakimi-pic {
        width: 230px;
       height: 320px;
    
    }
    #tweet-home {
      
       padding-left: 60%; 
     }

     #sh-top {
        display: inline;
       
    }

    .fix-2 {
        position: fixed;
        width: 307px;
        
        border-radius: 50px;
        background-color: #EFF3F4;
        /*top: 10px;
        left: 800px;*/
        overscroll-behavior-y: contain;
      
        height: 40px;
    }

   .cont {
   
    padding-left: 10px;
   padding-top: 10px;
   }
#show-this {
    margin-left: -70%;
}

.screenshot {
    width: 230px;
    height: 310px;

}
.container {
    position: absolute;
}





.fix-2 span {
    color: #5F6F7B;
    margin-left: 15px;
}

.search-tweet {
    margin-left: 20px;
    font-size: 15px;
}
.tool1 .tool {
        
    right: 30px;
    top: 13px;
    
}
#tweet-halal3 .tooltiptext {
   
    top: 1550px;
    left: 60%;
    margin-left: -60px;
    padding: 10px;

}




#tweet-halal4 .tooltiptext {
   
    top: 1600px;
    left: 60%;
    margin-left: -60px;

}



#tweet-halal5 .tooltiptext {
   
    top: 1600px;
    left: 55%;
    margin-left: -60px;

}





}





@media screen and (max-width: 1125px) and (min-width: 1025px) {
    #icon-section {
        width: 12%;
        height: 100%;
       
        overflow: hidden;
        text-align: center;
       overflow-y: scroll;
    }
    .stick {
        display: inline;
    }
    #top-tweet {

        width: 80px;
        height: 38px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        margin-right: 30%;
        margin-bottom: 10px;
        color: #fff;
        background-color: #8ECDF7;
    }
    #second-section {
        width: 570px;
        margin-left: 11.8%;
        border-right: #E7E7E8 1px solid;
    }
    .fix {
        width: 545px;
        left: 12%;
        border-right: #E7E7E8 1px solid;
        font-size: 15px;
    }
    .top-pic {
        width: 40px;
      
    }
    .all-part {
       
       margin-left: 10px;
       
       
    }
    #prof {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
  margin-right: 6%;
  margin-left: ;
  
        
    }
    .the-icon .text {
      
        left: 43%;
    }
    #explore {
        top: 25%;
        left: 39%;
    }

    #note {
        top: 34%;
        left: 21%;
    }

    #messages {
        top: 41%;
        left: 30%;
    }

    #veri {
        top: 50%;
        left: 35%;
    }

    #pro {
        top: 59%;
        left: 40%;
    }

    #more {
        top: 68%;
        left: 40%;
    }
    
    .hakimi-pic {
        width: 230px;
       height: 320px;
    
    }
    #tweet-home {
      
       padding-left: 0; 
     }

     #sh-top {
        display: inline;
       
    }

    .fix-2 {
        position: fixed;
        width: 307px;
        
        border-radius: 50px;
        background-color: #EFF3F4;
        /*top: 10px;
        left: 710px;*/
        overscroll-behavior-y: contain;
       
        height: 40px;
    }
    .cont {
        padding-left: 10px;
        padding-top: 10px;
       }
   
#show-this {
    margin-left: -70%;
}

.screenshot {
    width: 230px;
    height: 310px;

}
.container {
    position: absolute;
}


.tool1 .tool {
        
    right: 30px;
    top: 13px;
    
}
#tweet-halal .tooltiptext {
    top: 325px;
    left: 12%;
  
} 
#tweet-halal2 .tooltiptext {
    top: 840px;
    left: 10%; 
}
.fix-2 span {
    color: #5F6F7B;
    margin-left: 15px;
}

.search-tweet {
    margin-left: 20px;
    font-size: 15px;
}


}
@media screen and (max-width: 1025px) and (min-width: 1015px) {
    #icon-section {
        width: 8.8%;
        height: 100%;
       
        overflow: hidden;
        text-align: center;
       overflow-y: scroll;
    }
    .stick {
        display: inline;
    }
    #top-tweet {

        width: 80px;
        height: 38px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 14px;
        margin-right: 30%;
        margin-bottom: 10px;
        color: #fff;
        background-color: #8ECDF7;
    }
    #second-section {
        width: 570px;
        margin-left: 8.2%;
        border-right: #E7E7E8 1px solid;
    }
    .fix {
        width: 543px;
        left: 8.7%;
        border-right: #E7E7E8 1px solid;
        font-size: 15px;
    }
    .top-pic {
        width: 40px;
      
    }
    .all-part {
       
       margin-left: 10px;
       
       
    }
    #prof {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
    margin-left: 0;
    margin-right: 0;
        
    }
    .the-icon .text {
      
        left: 43%;
    }
    #explore {
        top: 25%;
        left: 39%;
    }

    #note {
        top: 34%;
        left: 21%;
    }

    #messages {
        top: 41%;
        left: 30%;
    }

    #veri {
        top: 49%;
        left: 40%;
    }

    #pro {
        top: 57%;
        left: 45%;
    }

    #more {
        top: 65%;
        left: 50%;
    }
    
    .hakimi-pic {
        width: 230px;
       height: 320px;
    
    }
    #tweet-home {
       padding-left: 30%;
        
     }

     #sh-top {
        display: inline;
        width: 350px;
    }

    .fix-2 {
        position: fixed;
        width: 307px;
        
        border-radius: 50px;
        background-color: #EFF3F4;
        /*top: 10px;
        left: 660px;*/
        overscroll-behavior-y: contain;
       
        height: 40px;
    }

    .cont {
        padding-left: 10px;
        padding-top: 10px;
       }
#show-this {
    margin-left: -70%;
}

.screenshot {
    width: 230px;
    height: 310px;

}
.container {
    position: absolute;
}





.fix-2 span {
    color: #5F6F7B;
    margin-left: 15px;
}

.search-tweet {
    margin-left: 20px;
    font-size: 15px;
}

.tool1 .tool {
        
    right: 30px;
    top: 13px;
    
}
#tweet-halal .tooltiptext {
    top: 325px;
    left: 12%;
  
} 
#tweet-halal2 .tooltiptext {
    top: 840px;
    left: 10%; 
}

}



@media screen and (max-width: 1015px) and (min-width: 800px) {
    #second-section {
        width: 610px;
        margin-left: 18.8%;
        border-right: #E7E7E8 1px solid;
    }
    .fix {
        width: 574px;
        left: 20%;
        border-right: #E7E7E8 1px solid;
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
       /* margin-left: 60%;*/
        
    }
    .tool1 .tool {
        
        right: 7.5%;
        top: 4.5%;
        
    }
    #tweet-halal .tooltiptext {
        top: 53%;
        left: 10%;
    }
    #tweet-halal2 .tooltiptext {
        top: 850px;
        left: 10%; 
    }
    
    .more-tab {
        right: 5%;
        top: 45%;
    }
   
    #icon-section {
        width: 20%;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }
    .the-icon {
        width: 50px;
        border-radius: 100%;
        margin-left: 60%;
        
    }

    #tweet-home {
        padding-left: 75px;
        
    }
    .the-icon .text {
        visibility: hidden;
        font-size: 12px;
        border-radius: 2px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        background-color: #0f1419;
        opacity: 70%;
        color: #fff;
        z-index: 1;
        top: 19%;
        left: 61%;
        padding: 1px 2px;
        transition-delay: 600ms;

    }

    .the-icon:hover .text {
        visibility: visible;
    }
    #explore {
        top: 25%;
        left: 57%;
    }

    #note {
        top: 32%;
        left: 52%;
    }

    #messages {
        top: 40%;
        left: 57%;
    }

    #veri {
        top: 48%;
        left: 58%;
    }

    #pro {
        top: 57%;
    }

    #more {
        top: 63%;
        left: 63%;
    }
    .top-pic {
        width: 45px;
    }
    #tweet-leaf {
        display: block;
       top: 81%;
       
    }
    #show-this {
        color: #2aa1f1;
        text-align: left;
        cursor: pointer;
        margin-left: -90%;
        padding-left: 0;
        padding-top: 10px;
       
    }
    #sh-top {
        display: none;
    }
    .stick {
        display: none;
    }
}





@media screen and (max-width: 1290px) and (min-width: 501px) {

    .the-icon .text {
        visibility: hidden;
        font-size: 10px;
        border-radius: 2px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        background-color: #0f1419;
        opacity: 70%;
        color: #fff;
        z-index: 1;
        top: 19%;
        /*left: 61%;*/
        padding: 1px 2px;
        transition-delay: 600ms;

    }
    .two-headings {
        font-size: 15px;}
    .the-icon:hover .text {
        visibility: visible;
    }
    #blue-un {
        
        
        text-underline-offset: 20px;
       
    
    }
/*
    #explore {
        top: 27%;
        left: 57%;
    }

    #note {
        top: 35%;
        left: 52%;
    }

    #messages {
        top: 43%;
        left: 57%;
    }

    #veri {
        top: 51%;
        left: 58%;
    }

    #pro {
        top: 60%;
    }

    #more {
        top: 68%;
        left: 63%;
    }

   /* #icon-section {
        width: 20%;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    }*/

    /*#tweet-leaf {
        display: block;
       top: 81%;
       
    }*/

   

    #first-tweet {
        display: none;
    }

    #name-below {
        display: none;
    }

   /* #sh-top {
        display: none;
    }*/

    /*#second-section {
        width: 70%;
        margin-left: 20%;
        border-right: #E7E7E8 1px solid;
    }**/
    #for-fol {
        border-right: none;
    }
.search-icons span {
  margin: -4px;
}
    /**.fix {
        left: 20%;
        width: 67%;
    }**/

    .carrying-all {
        margin-top: 0;
       
    }

    /*.the-icon {
        width: 50px;
        border-radius: 100%;
        margin-left: 60%;
        
    }

    #tweet-home {
        padding-left: 75px;
        
    }*/

    #bookmark {
        display: none;
    }

    .the-icon .fa-regular {
        line-height: 1.5;
    }

    #before-elip {
        display: none;
    }

    .profile-pic {
        width: 50px;
        border-radius: 100%;
        margin-left: 10px;
        margin-bottom: 20px;
    }

#pic2 {
    display: inline;
}

    /*.stick {
        display: none;
    }*/

    #bot {

        
      
        display: none;

      
    }

    #bot:hover {
        background-color: none;
       


    }

    #leaf {
        display: inline-block;
        width: 115px;
margin-left: -40px;
margin-top: -5px;
z-index: 1;
    }
    
#prof {
    display: inline-block;
    margin-top: 90px;
   
    padding-right: 10px;
   
}

    #top-tweet {
       margin-right: 15%;
    }

    #whole-search {
        /*margin-top: -50px;*/
        padding-top: 120px;
        height: 100%;
    }

    

    #thread-pic {
        width: 80%;
       
    }

    
    .comment-icons span {
        margin-left: 0;
    }

    .hakimi-pic {
       
        width: 100%;
        border-radius: 20px;
        margin-left: 75px;
        padding-right: 0;
    }

    #second-comment {
        margin-left: 50px;
    }

    

    /*.top-pic {
        width: 45px;
    }*/

    .thread-vid {
        border-radius: 20px;
        margin-left: 70px;
        border: #E7E7E8 1px solid;
       
        width: 80%;
    }

    

    /*.tool1 .tool {
        
        right: 7.7%;
        top: 4.5%;
        
    }*/
    
    #halal-username {

        margin-left: 5px;
 
    }
    #tweet {
        
        margin-left: 5px;
    font-size: 20px;
    }  
.search-icons {
    margin-left: 50px;
    font-size: 16px;
}
#yaba-tweet {
    z-index: 1;
    width: 100%;
   line-height: 1.3;
}
#top-tweet {

    width: 80px;
    height: 35px;
}
}



@media screen and (max-width: 1500px) and (min-width: 1290px) {
    #bot {
       
        margin-top: 50px;
       
    
    } 
    #second-section {
        width: 680px;
        margin-left: 20%;
        border-right: #E7E7E8 1px solid;
    }
    
    .fix {
        width: 658px;
        left: 20%;
        border-right: #E7E7E8 1px solid;
        font-size: 15px;
    }
    #icon-section {
        width: 20%;
        height: 100%;
        overflow: hidden;
        text-align: center;
       
    } 
    .username {


     margin-right: 0;
        padding-top: 30px;
        color: #536471;
        opacity: #0f1419;
   
    
    } 
    #tweet-home {
        font-size: 25px;
       
        padding-top: 15px;
       
    }
    .bird {
        text-align: left;
    }
    .stick {
        position: fixed;
        background-color: #fff;
    
        padding: 10px;
        top: 575px;
        width: 325px;
        right: 20px;
        border: #E7E7E8 0.8px solid;
        font-size: 20px;
        font-weight: 600;
        border-radius: 20px;
    }
    .cont {
        padding-left: 10px;
        padding-top: 10px;
       }
}

@media screen and (max-width: 1500px) and (min-width: 1290px) {
    
}

